<h1 class="nosel">
  <img
    src="https://content.kpnc.io/img/kpnc/symbol/DoctorWho.webp"
    alt="KPNC"
  />
</h1>

<main class="container">
  <h2 class="nosel">Watch Order:</h2>
  <h3 class="nosel">⤷ <a (click)="routerLink(['/information'])">See more</a>...</h3>

  <h2 class="nosel title">Toggle Tags:</h2>
  <div class="box nosel" style="padding: 5px;" *ngIf="local != null">
    <div class="toggle" *ngFor="let type of types" (click)="toggler(type[0])"
      [ngClass]="{'toggled': local.meta.visible.includes(type[0])}">
      {{type[1]}}
    </div>
  </div>

  <h2 class="nosel title">Your List:</h2>
  <div class="box" *ngIf="arrayed != []">
    <table>
      <thead class="nosel">
        <tr>
          <th>ℹ</th>
          <th>✓</th>
          <th>Watch</th>
          <th>Viewed</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let array of arrayed">
          <td class="nosel back-blue">ℹ</td>
          <td class="nosel" (click)="viewer(array[0])" [ngClass]="{'back-green': array[2] == 1, 'back-yellow': array[2] == 2 }">
            <span *ngIf="array[2] == 1">✓</span>
            <span *ngIf="array[2] == 2">★</span>
          </td>
          <td>{{array[0]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
